<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="freqBookPath" value="..\Таблицы\Частоты.xlsx"/>
		<add key="resBookPath" value="..\Таблицы\Результаты.xlsx"/>-->
		<add key="freqBookPath" value=".\Частоты.xlsx"/>
		<add key="resBookPath" value=".\Результаты.xlsx"/>
		<add key="wordsRefPath" value=".\WordsRef.xlsx"/>
		<add key="resultsRefPath" value=".\ResultsRef.xlsx"/>

		<add key="groups" value=".\Groups.xml"/>
		<add key="words" value=".\Words.xml"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>