<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="freqBookPath" value="C:\Users\Pepe\source\repos\Visual Studio Projects\ExcelHelper\ExcelHelper\ExcelTables\Частоты.xlsx"/>
		<add key="resBookPath" value="C:\Users\Pepe\source\repos\Visual Studio Projects\ExcelHelper\ExcelHelper\ExcelTables\Результаты.xlsx"/>

		<add key="groups" value="..\..\GroupsAndWords\Groups.xml"/>
		<add key="words" value="..\..\GroupsAndWords\Words.xml"/>-->

		<add key="freqBookPath" value=".\Частоты.xlsx"/>
		<add key="resBookPath" value=".\Результаты.xlsx"/>

		<add key="groups" value=".\Groups.xml"/>
		<add key="words" value=".\Words.xml"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>